@mixin flex-text($font-size) {

	font-size: modular-scale($font-size) * 0.95;

	@media screen and (min-width: $screen-xs-min) {
		font-size: modular-scale($font-size) * 0.95;
	}

	@media screen and (min-width: $screen-sm-min) {
		font-size: modular-scale($font-size) * 0.95;
	}

	@media screen and (min-width: $screen-md-min) {
		font-size: modular-scale($font-size);
	}

	@media screen and (min-width: $screen-lg-min) {
		font-size: modular-scale($font-size) * 1.05;
	}

}