@mixin flex-text($font-size) {

	font-size: $font-size * 1;

	@media screen and (min-width: $screen-xs-min) {
		font-size: $font-size * 1;
	}

	@media screen and (min-width: $screen-sm-min) {
		font-size: $font-size * 1;
	}

	@media screen and (min-width: $screen-md-min) {
		font-size: $font-size;
	}

	@media screen and (min-width: $screen-lg-min) {
		font-size: $font-size * 1.1;
	}

}