.background-position--top-left { background-position: 0% 25%; }
.background-position--top-center { background-position: 50% 25%; }
.background-position--top-right { background-position: 100% 25%; }

.background-position--center-left { background-position: 0% 50%; }
.background-position--center-center { background-position: 50% 50%; }
.background-position--center-right { background-position: 100% 50%; }

.background-position--bottom-left { background-position: 0% 75%; }
.background-position--bottom-center { background-position: 50% 75%; }
.background-position--bottom-right { background-position: 100% 75%; }