.instafeed {
}

.instafeed__item {
	color: white;
	@include make-xs-column(4, 0);
	@include make-sm-column(4, 0);
	@include make-md-column(2, 0);
	@include make-lg-column(2, 0);
}

.instafeed__item:active,
.instafeed__item:hover {
	text-decoration: none;
	transition: all 0.3s;

	img {
		box-shadow: inset 0 0 0 5px $c4c-yellow;
	}
}

.instafeed__item--link { background: $c4c-blue; width: 100%; }
.instafeed__item--link:active,
.instafeed__item--link:hover { background: $c4c-blue-dark; }