/**
 *
 * Styling for post stuff
 *
 */

.post__content {

	@extend .text-normal;
	@extend .text-san-serif;

	img { @extend .img-responsive; }

	h1, h2, h3, h4 {
		@extend .text-blue-dark;
		@extend .text-strong;
		@extend .text-san-serif;

		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	// Remove margin-top if it is first element
	& > h1:first-child { margin-top: 0; }

	ul { margin: 1em 0; }

	blockquote {
		@extend .text-large;
		@extend .text-cursive;

		line-height: 1.5em;
		border-color: #eee;
	}

	// Used for recipe section
	.ingredients {
		// @extend .ripped-paper;
		@extend .text-cursive;

		border: none;
	    margin: 0 auto 10px;
		margin-top: 2em;
	    padding: 6px 5px 4px 42px;
	    position: relative;
	    color: #444;
	    line-height: 40px;
		font-size: 18px;

		// Let's draw the lines
		background: white;
	    background-size: 100% 40px;
		@include linear-gradient(top, lighten($c4c-blue-light, 5%) 0%, #fff 5%);
	    background-position: 0 4px;

		&::before {
		    content: '';
		    position: absolute;
		    width: 4px;
		    top: 0;
		    left: 30px;
		    bottom: 0;
		    border: 1px solid;
		    border-color: transparent lighten($c4c-red, 40%);
		}

		p { margin: 0; }
		ul { margin: 0; }
	}

	// Drop caps to fancy things up, only target direct descendants
	& > p:first-of-type:first-letter {
		@extend .text-blue-dark;
		@extend .text-strong;
		@extend .text-serif;
		@extend .text-uppercase;

		@include flex-text(8);

		float: left;
		line-height: 1em;
		// vertical-align: middle;
		padding-right: 0.1em;
	}

	.hero {
		margin-bottom: 30px;
	}

}