// Social media icons at bottom of page
.social-media {
	$icon-size: 1.6em;

	@extend .inline-block, .no-bullets;
	@include flex-text(1.2);

	// Padding between icons
	li { padding: 0 0.2em; text-align: center; }

	a {
		color: #fff;
		display: inline-block;
		height: $icon-size;
		line-height: $icon-size * 1.2;
		vertical-align: middle;
		width: $icon-size;
		border-radius: 9999px;
		transition: all 0.2s ease-in-out;
	}
	a:hover,
	a:focus {
		opacity: 0.8;
	}

	// Social different colours
	.social-facebook 	{ background: desaturate($company-facebook, 20%); }
	.social-youtube 	{ background: desaturate($company-youtube, 20%); }
	.social-instagram 	{ background: desaturate($company-instagram, 20%); }
	.social-twitter 	{ background: desaturate($company-twitter, 20%); }
	.social-c4c 		{ background: desaturate($c4c-red, 0%); }
}

.social-media--header {
	@include breakpoint-max('xs') {
		display: none !important;
	}

	a { box-shadow: 0 0 0 3px #fff; }
}
.social-media--footer {

}