.text-letter-spacing { letter-spacing: .1em; }

.text-uppercase { text-transform: uppercase; }

.text-fancy { font-family: $font-family-fancy; }

.text-bold,
.text-strong { font-weight: 800; }
.text-thin { font-weight: 300; }
.text-shadow { @include text-shadow(2px); }

.text-center--sm { @include breakpoint-max('sm') { text-align: center; } }
.text-center--md { @include breakpoint-max('md') { text-align: center; } }

// Text coloring

.text-white { color: #fff; }
.text-red { color: $c4c-red; }
.text-yellow { color: $c4c-yellow; }
.text-blue { color: $c4c-blue; }
.text-grey { color: $c4c-grey; }

// A small arrow displayed after content denoting an action

.action-arrow--after:after,
.action-arrow:after {
	content: "\203A";
	padding-left: 0.3em;
}

.action-arrow--before:before {
	content: "\2039";
	padding-right: 0.3em;
}

// Remove top margin when first element
.first { margin-top: 0 !important; }
.last { margin-bottom: 0 !important; }

// Fix kerning
h1, h2, h3, h4 {
	letter-spacing: -0.04em;

	&.text-fancy { letter-spacing: 0em;	}
}

.text-normal { @include flex-text(1.4rem); }
.text-medium { @include flex-text(1.8rem); }
.text-large { @include flex-text(3rem); }
.text-super { @include flex-text(4rem); }

// List styling

ul.no-bullets {
	padding: 0;

	li {
		list-style: none;
		margin: 0;
	}
}

ul.inline-block {
	li { display: inline-block; }
}