$banner-min-height: 300px;

.banner__group {
	position: relative;
}

// Remove ugly blue border outline
.banner__group,
.banner__group * {
    outline: none;
}

.banner__carousel {
	overflow: hidden;
	outline: 0 !important;
}

// Height settings
.banner,
.banner__overlay,
.latest-posts-offset {
	width: 100%;
	min-height: $banner-min-height;
	@include breakpoint-min('sm') { min-height: $banner-min-height * 1.1; }
	@include breakpoint-min('md') { min-height: $banner-min-height * 1.4; }
	@include breakpoint-min('lg') { min-height: $banner-min-height * 2; }
}

.banner {
	background-size: cover;
	background-color: #000;
	background-position: 50% 50%;
	display: inline-block;
	float: left;
	opacity: 0;
	transition: opacity 1s ease-in-out;

	// Reveal on page load
	&--reveal {
		opacity: 1;
	}
}

.banner__overlay {
	@include background-image(linear-gradient(50deg, rgba(0,0,0,0.6) 0, transparent 70%));
	padding: 3em 0;

	@include breakpoint-max('sm') {
		@include background-image(linear-gradient(50deg, rgba(0,0,0,0.6) 0, transparent 100%));
	}
}

// Banner overlay for when single / single-post page
.single .banner__overlay {
	@include background-image(linear-gradient(50deg, rgba(0,0,0,0.5) 0, transparent 100%));
	// background: rgba(0,0,0,0.5);
}

/**
 *
 * Video
 *
 */

// Banner overlay when single and post type is video
.banner--video .banner__overlay {
	background: rgba(0, 0, 0, 0.7);
}

// Make video sensible sized
.banner__video {
	@include breakpoint-min('sm') {
		max-width: 80%;
		margin: 0 auto;
	}
}

.banner__header {
	@include flex-text(7);
	@include text-shadow(3px);

	color: #fff;
	font-family: $font-family-fancy;
	letter-spacing: 0;
	line-height: 0.8em;
	margin: 0 0 0.2em 0;

}

.banner__description {
	@include flex-text(2);
	@include text-shadow(3px);
	@extend .text-strong;

	color: #fff;
	letter-spacing: -0.02em;
}

// Used to overlay the panel on top of the banner images
.banner__latest-overlay {

}

/**
 *
 * Panel overlayed on top of the carousel showcasing latest
 * recipes. Pops down to the bottom once reduced to xs breakpoint size.
 *
 */

.banner__latest-panel {
	z-index: 1000;
	border-radius: 0;
	border: 0;
	box-shadow: 0 3px 20px rgba(0,0,0,0.5);
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 1s ease-in-out 0.5s;

	// Hide the panel when in small mode
	@include breakpoint-max('sm') {
		// border-top: 8px solid $c4c-red;
		box-shadow: 0;
		margin-top: 0 !important;
		position: relative;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}

	// Fade in to 1 opacity when page loads
	&--reveal {
		opacity: 1;
	}

	// Title for the panel box
	& .panel-heading {
		@include text-shadow(1px);

		background: $c4c-red;
		border-radius: 0;
		color: #fff;
		box-shadow: inset 0 -2px 5px rgba(darken($c4c-red, 20%), 0.2);

		@include breakpoint-max('sm') { display: none; }

		h2 {
			line-height: 1.5em;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.latest-panel {

	// Item list

	ul { padding: 0; margin: -15px; }
	li {
		list-style: none;
		padding: 0.8em 15px;
		border-bottom: 1px solid $c4c-border;
	}
	a:last-child li { border: none;	} // Remove line for last list item

	// Anchor wraps around li element

	a {
		text-decoration: none;
		transition: background 0.5s ease-in-out;

		&:hover li { color: lighten(#333, 40%); }
		li { color: #333; }
	}
	a.active {
		li {
			background: lighten($c4c-yellow, 30%);
			color: $c4c-red;
		}
	}
	a:hover.active { color: $c4c-red; }

	.media-object {	height: 60px; }
	.media-body { padding-left: 0.5em; }

	a:hover .media-object { @include box-shadow(2px); }

	h4 {
		@include flex-text(-0);
		margin: 0; font-weight: 800;
	}
	p {
		@include flex-text(-1);
		margin: 0;
	}
}

/**
 *
 * Message banner
 *
 */

.message-banner {

	background-size: cover;
	background-image: url('../images/bg-food.jpg');
	background-position: 50% 50%;

	&__overlay {
		background: rgba($c4c-yellow, 0.6);
	}

	h1 {
		@extend .text-center, .text-brush;
		@include flex-text(10);

		color: #fff;
		text-shadow: 0 3px 3px rgba(#000, 0.1);
		margin: 0;
	}
}
