$footer-text-color: #777;

.footer {
	@extend .text-normal;
	color: $footer-text-color;
}

.footer-menu {
	@extend .text-uppercase;
	@extend .text-bold;
	@extend .text-letter-spacing;
	@extend .inline-block;
	@extend .no-bullets;

	a { 
		color: $footer-text-color; 
		text-decoration: none; 
		margin: 0 0.5em;
	}
	a:hover { color: lighten($footer-text-color, 20%); }

	li:after {
		// content: "•";
		// padding: 0 1em 0 1.3em;
		color: darken($footer-text-color, 20%);
	}

	li:last-child:after {
		display: none;
	}

}