.footer {
	color: #555;
}

// Social media icons at bottom of page
.social-media {
	@include flex-text(1.8em);

	// Padding between icons
	li { padding: 0 0.4em; }

	a {
		color: #fff;
		display: inline-block;
		height: 1.4em;
		line-height: 1.4em;
		vertical-align: middle;
		width: 1.4em;
		border-radius: 9999px;
	}
	a:hover,
	a:focus {
		opacity: 0.8;
	}

	// Social different colours
	.social-facebook 	{ background: $company-facebook; }
	.social-youtube 	{ background: $company-youtube; }
	.social-instagram 	{ background: $company-instagram; }
	.social-twitter 	{ background: $company-twitter; }
}

.footer-menu {
	@extend .text-uppercase;
	@extend .text-bold;
	@extend .text-letter-spacing;

	a { color: #555; text-decoration: none; }
	a:hover { color: #999; }

	li:after {
		content: "•";
		padding: 0 1em;
		color: #333;
	}

	li:last-child:after {
		display: none;
	}

}