.posts-grid {
	// background: url('../images/topographic-bg.svg') 0 -100px #fff;
	display: block;
	padding: 3em 0;
	width: 100%;

	@include breakpoint-max('xs') {
		background-size: auto;
	}
}

.posts-grid__shape {
	// background: url('../images/c4c-section-bg--black.svg') repeat-x 0 0;
	display: block;
	height: 15px;
	margin-top: -15px;
	position: relative;
	width: 100%;
	z-index: 1000;

	@include breakpoint-max('sm') {
		display: none;
	}
}

.post-grid__article {

	@include make-xs-column(12, 5px);
	@include make-sm-column(6, 0);
	@include make-md-column(4, 0);

	margin: 0;

	// Responsive row number

	// Maximum of 9
	@include breakpoint-max('xs') {
		&:nth-child(9) { display: none;	}
	}

	// Border
	.post-grid__article__box {
		transition: all .2s ease-in-out;
		// box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);

		max-width: 400px;
		margin: 0 auto;

		// For max size of box when in mobile mode
		@include breakpoint-max('xs') {
			max-width: 300px;
		}
	}

	// Hero image
	.hero-image {
		height: 250px;
		width: 100%;
		overflow: hidden;

		@include breakpoint-max('xs') {
			height: 200px;
		}
	}
	.hero-image__inset {
		height: 250px;
		width: 100%;
		background-size: cover;
		background-position: 50% 50%;
		display: inline-block;
		transition: all 0.2s ease-in-out;
		text-align: center;
		line-height: 250px; // For play button

		@include breakpoint-max('xs') {
			height: 200px;
			line-height: 200px;
		}
	}

	.description {

		@include flex-text(0);
		@extend .text-blue-dark;

		margin: 0;
		padding: 1em 1.5em 2em;
		transition: all .2s ease-in-out;

		h2 {
			// @extend .text-strong;
			@extend .text-cursive;
			@extend .text-blue-dark;
			@include flex-text(2);
			transition: all .2s ease-in-out;
		}

		// Categories / tags
		.description__tags {
			border-top: 1px solid lighten($c4c-grey, 20%);
			padding-top: 1em;
			color: $c4c-grey;
		}

	}

	.play-button {
		font-size: 5rem;
		color: #fff;
		line-height: 7rem;
		vertical-align: middle;
	}

	.play-button-bg {
		background: rgba($c4c-red, 0.8);
		border-radius: $border-radius-base;
		display: inline-block;
		line-height: 0;
		width: 7rem;
		height: 7rem;
		vertical-align: middle;
	}
}

// Mouse over effects
a:hover,
a:focus {
	.post-grid__article__box {
		background: $c4c-grey-light;
	}

	.hero-image__inset {
		transform: scale(1.10);
	}
}

// Color every other box
.post-grid__article:nth-child(2) .post-grid__article__box {
	background: #333;
}