.post {
	@extend .text-normal;
	@extend .text-thin;

	a,
	a:hover,
	a:active,
	a:focus { text-decoration: none; }
}

.post__container {
	@include make-md-column(8);
	@include make-md-column-offset(2);
	@extend .padding--md;
}

.post__container,
.post__container--page {
	article {
		@extend .padding--md;
	}
}

.post__container--page {
	@include make-md-column(9);
	@include make-md-column-offset(1.5);
	@extend .padding--md;
}