.section-block,
.section-block--black {
	background: #000;
	color: #fff;
	display: block;
	padding: 1em 0;
	width: 100%;
}
.section-block--yellow {
	background: $c4c-yellow;
	color: darken($c4c-yellow, 35%);
}
.section-block--white {
	background: #fff;
	color: #333;
}
.section-block--red {
	background: $c4c-red;
	color: $c4c-yellow-light;
}
.section-block--blue {
	background: $c4c-blue;
	color: darken($c4c-blue, 30%);
}

.section-block__shape,
.section-block__shape--black {
	background: url('../images/c4c-section-bg--black.svg') repeat-x 0 0;
	display: block;
	height: 15px;
	margin-top: -15px;
	position: relative;
	width: 100%;
	z-index: 1000;
}
.section-block__shape--yellow {
	background-image: url('../images/c4c-section-bg--yellow.svg');
}
.section-block__shape--white {
	background-image: url('../images/c4c-section-bg--white.svg');
}
.section-block__shape--red {
	background-image: url('../images/c4c-section-bg--red.svg');
}
.section-block--newsletter {
	@extend .section-block--red;

	// background: url('../images/newsletter-bg-2.jpg') no-repeat;
	// background: url('../images/newsletter-bg.svg') no-repeat 0 100% $c4c-red;
	background-size: cover;

	// Fix layering for little email icon
	position: relative;
	z-index: 1;
}
.section-block--sponsors {
	background: url('../images/pie-bg.jpg') no-repeat 0 100% #fff;
	background-size: cover;
}

.section-block--border-top { border-top: 1px solid lighten($c4c-grey, 25%); }
.section-block--border-bottom { border-bottom: 1px solid lighten($c4c-grey, 25%); }